<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>EvenUp API</title>

    <link
        rel="icon"
        type="image/svg+xml"
        href="/static/EvenUp-white.svg"
    />

    <link
        href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@1&display=swap"
        rel="stylesheet"
    />

    <link
        href="https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700&display=swap"
        rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <div class="gradient"></div>

    <div class="container">
        <img
            src="/static/EvenUp-white.svg"
            alt="EvenUp Logo"
            class="logo"
        />

        <h1>EvenUp</h1>

        <p class="subtitle">
            Group & Personal Expense Management API
        </p>

        <div class="buttons">
            <a href="/docs" class="btn">
                Swagger Docs
            </a>

            <a href="/redoc" class="btn">
                ReDoc
            </a>

            <a
                href="https://github.com/jagdep-singh/EvenUp/tree/main/Backend"
                target="_blank"
                class="btn"
            >
                GitHub Repository
            </a>
        </div>
    </div>

    <div class="footer">
        FastAPI • EvenUp Backend • v0.0.1
    </div>
</body>
</html>